//  FONTs FOR DESCRIPTIONS:
// Fleur De Leah
@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap");
// Kings
@import url("https://fonts.googleapis.com/css2?family=Kings&display=swap");
// Charm
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap");
//Sour Gummy
@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
// ----------------------------
// NAV & TITLES FONTs:
//Rubik Puddles
@import url("https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap");
// Oi
@import url("https://fonts.googleapis.com/css2?family=Oi&display=swap");
// Shojumaru
@import url("https://fonts.googleapis.com/css2?family=Shojumaru&display=swap");
// Rubik Vinyl
@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");

// -----------------------
// COLORS
$main-font-color: #002147;
$sccent-font-color: white;

$bg-color-01: #80cbc4;
$bg-color-02: #b4ebe6;
$bg-color-03: #fbf8ef;
$bg-color-04: #ffb433;
//
$bg-color-05: #eb5b00;
$bg-color-06: #d91656;
$bg-color-07: #640d5f;
// $bg-color-08: #ffb433;
