@import "./variables";

.header {
  height: 90vh;
  background-color: $bg-color-04;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-family: "Shojumaru", sans-serif;
}

.ht2 {
  align-self: last baseline;
  padding-bottom: 10vh;
}
